*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: var(--scroll-padding, 50px);
}

.text-center {
  text-align: center;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

.mt-1 {
  margin-top: 8px;
}

.mt-2 {
  margin-top: 16px;
}

.pull-right {
  float: right;
}

.clear {
  clear: both;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-half {
  width: 50%;
}

.col-full {
  width: 100%;
}

.col-third {
  width: 33.333%;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 46.5px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.section-black {
  background-color: black;
}

.color-white {
  color: white;
}

.nav {
  height: 46.5px;
  display: flex;
}

.nav li {
  display: flex;
  align-items: center;
  height: 46.5px;
  transition: all 0.3s;
}

.nav li:hover {
  background-color: #ccc;
}

.nav li:hover a {
  color: black;
}

.nav li a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1.5rem;
  padding: 0 24px;
  font-weight: 500;
}

.subnav {
  position: relative;
}
.subnav:hover .dropdown {
  display: block;
}

.dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  display: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.dropdown a {
  font-weight: 400 !important;
  text-transform: capitalize !important;
}

.more-nav {
  position: relative;
}

.search-icon {
  font-size: 1.5rem;
  color: white;
  align-self: center;
  padding: 0 2rem;
  line-height: 46.5px !important;
  transition: all 0.3s;
}

.search-icon:hover {
  background-color: #f44336;
  cursor: pointer;
}

.down-arrow {
  font-size: 1.5rem;
  position: absolute;
  margin-left: 0.5rem;
}

.slider {
  position: relative;
  margin-top: 46.5px;
  padding-top: 50%;
  background: url(https://images4.alphacoders.com/278/278686.jpg) top center /
    cover no-repeat;
}

.slider-content {
  color: white;
  position: absolute;
  bottom: 0;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  padding: 32px 16px;
}

.slider-title {
  margin-bottom: 16px;
  font-size: 2.4rem;
  font-weight: 400;
}

.slider-sub-title {
  font-size: 1.8rem;
  font-weight: 700;
}

.container {
  max-width: 800px;
  padding: 64px 0px;
  margin: 0 auto;
}

.content-title {
  text-transform: uppercase;
  letter-spacing: 0.4rem;
  font-size: 3rem;
  font-weight: 400;
  text-align: center;
  margin: 1rem 0px;
}

.content-subtitle {
  font-style: italic;
  font-size: 1.5rem;
  text-align: center;
  margin: 1.5rem 0px;
  opacity: 0.3;
}

.about-paraphaph {
  font-size: 1.5rem;
  text-align: justify;
  margin: 1.5rem 0px;
  line-height: 1.5;
}

.about-list {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}

.about-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-name {
  text-transform: capitalize;
  font-size: 1.5rem;
  margin: 1.5rem 0px;
  text-align: center;
  font-weight: 400;
}

.item-image {
  width: 60%;
}

.tour-list {
  background-color: white;
}

.tour-month {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
  font-size: 1.5rem;
  color: #757575;
  list-style: none;
}

.sold-out {
  margin-left: 16px;
  padding: 2px 8px;
  color: white;
  background-color: #f44336;
}

.count {
  padding: 0px 8px;
  color: white;
  background-color: black;
  border-radius: 50%;
  float: right;
}
.clear-both {
  clear: both;
}

.tour-item {
  width: 33.333%;
  padding: 0px 8px;
  float: left;
}

.tour-ticket {
  padding: 32px 0px;
  margin: 0px -8px 0px;
}

.tour-ticket::after {
  content: "";
  display: block;
  clear: both;
}

.tour-item img {
  width: 100%;
  display: block;
}

.item-content {
  color: black;
  background-color: white;
  padding: 16px;
}

.item-title {
  font-size: 15px;
  margin-bottom: 15px;
}

.item-date {
  font-size: 15px;
  font-weight: 300;
  margin-bottom: 15px;
}

.item-text {
  font-size: 15px;
  margin-bottom: 15px;
}

.item-btn {
  padding: 10px 16px;
  background-color: black;
  color: white;
  border: none;
  font-size: 15px;
  transition: all 0.3s;
}

.item-btn:hover {
  background-color: rgb(197, 197, 197);
  color: black;
  cursor: pointer;
}

.contact-line {
  font-size: 18px;
}

.contact-line i {
  width: 30px;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  padding: 32px 0px;
}

.contact-text {
  flex-basis: 50%;
}

.contact-form {
  flex-basis: 50%;
}

.contact-form input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.map img {
  width: 100%;
}

.footer {
  font-size: 15px;
  text-align: center;
  color: rgb(73, 73, 73);
}

.footer i {
  font-size: 20px;
  margin-right: 1px;
  margin-bottom: 15px;
}

.open {
  display: flex !important;
}

.modal {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.3s;
}

.modal-container {
  width: 900px;
  min-height: 340px;
  background-color: white;
  position: relative;
  animation: slideDown ease 0.3s;
}

.close-btn {
  position: absolute;
  right: 0;
  padding: 8px 16px;
  font-size: 15px;
  color: white;
  transition: all 0.3s;
}

.close-btn:hover {
  background-color: rgb(190, 81, 81);
  cursor: pointer;
}

.modal-header {
  padding: 32px 16px;
  color: white;
  background-color: #009688;
  text-align: center;
}

.modal-title {
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 4px;
}

.modal-title i {
  margin-right: 16px;
}

.modal-body {
  padding: 0px 16px;
}

.modal-label {
  margin: 15px 0px 5px;
  font-size: 15px;
  display: block;
}

.modal-label i {
  width: 20px;
}

.modal-input {
  display: block;
  padding: 9px;
  width: 100%;
  border: 1px solid #ccc;
}

.modal-btn {
  display: block;
  width: 100%;
  margin: 16px 0px;
  padding: 16px;
  text-align: center;
  border: none;
  background-color: #009688;
  transition: all 0.3s;
  color: white;
  font-size: 15px;
}

.modal-btn:hover {
  cursor: pointer;
  background-color: #027267;
}

.modal-footer {
  padding: 0px 16px;
  margin: 15px 0px;
  text-align: right;
  font-size: 15px;
}

.modal-footer a {
  color: #2196f3;
}

.menu-icon {
  display: none !important;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
}

@media (max-width: 740px) {
  .header {
    display: block;
    overflow: hidden;
  }

  .dropdown {
    position: initial;
    display: none;
    background-color: rgb(37, 37, 37);
    color: white;
  }

  .subnav:hover .dropdown li a {
    color: white;
  }

  .dropdown li:hover {
    background-color: rgb(20, 20, 20);
  }

  .slider-content {
    display: none;
  }
  .nav {
    display: block;
  }

  .subnav {
    cursor: pointer;
  }

  .nav li a {
    width: 100%;
    line-height: 46.5px;
  }

  .subnav {
    display: block !important;
  }

  .down-arrow {
    line-height: 46.5px !important;
  }

  .nav li:first-child {
    display: inline-block;
  }

  .nav li:first-child a {
    line-height: 46.5px;
  }

  .subnav li:first-child {
    display: block;
  }

  .search-icon {
    display: none !important;
  }
  .menu-icon {
    position: absolute;
    top: 0;
    right: 0;
    display: block !important;
    font-size: 1.5rem;
    color: white;
    align-self: center;
    padding: 0 2rem;
    line-height: 46.5px !important;
    transition: all 0.3s;
  }

  .menu-icon:hover {
    background-color: #d4d4d4;
    color: black;
    cursor: pointer;
  }
}
